<<<<<<< HEAD
#headertext{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: medium;
=======
#piedepagina {
    text-align: center;
    color: blue;
>>>>>>> 28f5b846e1b4212468dbef9fe6e7189c9bedcd65
}